* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Catamaran', sans-serif;
}

.contained {
    width: 80%;
    margin: auto;
    position: relative;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

nav {
    height: 80px;
    width: 100%;
    background-color: #255EE9;
    position: relative;  
    line-height: 80px;  
}

nav .contained img {
    vertical-align: middle;
}

nav ul, nav li {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
}

nav ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

nav li{
    margin: 0 15px;
}

nav li:first-child {
    margin-left: 0;
}

nav li:last-child {
    margin-right: 0;
}

nav li a {
    color: white;
    text-decoration: none;
}

nav li:hover {
    text-decoration: underline;
}

.btn {
    padding: 5px 10px;
    border-radius: 20px;
}

.accedi {
    font-weight: 400;
    line-height: normal;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
} 

.accedi:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
                0 2px 2px rgba(0,0,0,0.12), 
                0 4px 4px rgba(0,0,0,0.12), 
                0 8px 8px rgba(0,0,0,0.12),
                0 16px 16px rgba(0,0,0,0.12);
    color: #5F88F9;
}

.jumbo {
    background: url(../img/jumbo.png) no-repeat;
    background-size: 100%;
    height: 400px;  
    position: relative;
}

.jtext {
    margin: 0 25%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.bigtitle {
    font-size: 54px;
    font-weight: bold;
}

.subtitle {
    font-size: 18px;
    margin-top: 25px;
    font-weight: 200;
}

.btn-container {
    margin-top: 20px;
}

.bigbtn {
    padding: 10px 30px;
    display: inline-block;
}

.scarica {
    background-color: #fff;
    color: black;
    margin-right: 20px;
}

.scarica i {
    margin-right: 10px;
}

.apri {
    background-color: black;
    color: white
}

main {
    margin-top: 75px;
}

.stext {
    padding-top: 25px;
}

.sezoriz .stext {
    display: inline-block;
    width: 30%;
    float: right;
}

.titolo {
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
}

.text {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.6;
}

.sezoriz .imgsect {
    max-width: 60%;
}

.grigia {
    background-color: #f6f6f6;
}


.sezoriz.grigia .stext {
    float: left;
}

.sezoriz.grigia .imgsect {
    float: right;
}

.wave {
    margin-top: 110px;
}

svg {
    display: block;
}

.sezvert {
    text-align: center;
}

.adv-text {
    font-size: 25px;
    font-weight: 800;
}

.adventure {
    position: relative;
    padding: 20px 30px;
    display: inline-block;
    margin-top: 30px
}

.star {
    position: absolute;
}

#star1 {
    color: #FF7ABC;
    font-size: 25px;
    left: 0;
    top: 10%;
}

#star2 {
    color: #C6C4FB;
    font-size: 12px;
    top: 0;
    left: 60%;
}

#star3 {
    color: #628BF7;
    font-size: 15px;
    top: 20%;
    right: 5%;
}

#star4 {
    color: #6BDBC6;
    font-size: 13px;
    top: 0;
    right: 0;
}

.getit {
    padding: 10px 0 100px
}

.getit .btn.scarica {
    background-color: #8EA1E1;
    color: white;
}

footer {
    background-color: #23272A;
    padding-top: 90px;
    color: white;
}

.col {
    width: calc(100% / 5 - 30px);
    float: left;
}

.col:first-child {
    margin-right: 130px;
}

.footitle {
    color: #7188D8;
    font-weight: 800;
    font-size: 25px;
}

#flag {
    max-width: 15%;
    vertical-align: middle;
    margin-right: 10px
}

.lingua {
    margin: 20px 0;
    font-size: 13px;
    vertical-align: middle;
}

.lingua i {
    margin-left: 10px;
    font-size: 10px;
}

.loghi {
    font-size: 20px;
}

.loghi i {
    margin-right: 20px;
}

footer ul {
    list-style: none;
}

footer ul li:first-child {
    color: #7188D8;
    font-weight: 200;
}

.foot {
    margin-top: 30px;
    border-top: 1px solid #7188D8;
    padding: 30px 0 70px;
}

.foot img {
    vertical-align: middle;
}

.registrati {
    float: right;
    background-color: #7188D8;
}


